COMPOSE_PROJECT_NAME=workflow-hub

MYSQL_ROOT_PASSWORD=change-this-root-password

WORKFLOW_APP_NAME=Workflow Hub API
WORKFLOW_API_V1_PREFIX=/api/v1
WORKFLOW_APP_HOST=0.0.0.0
WORKFLOW_APP_PORT=8000
WORKFLOW_DEBUG=false
WORKFLOW_SECRET_KEY=replace-with-a-long-random-secret
WORKFLOW_ACCESS_TOKEN_EXPIRE_MINUTES=1440

WORKFLOW_MYSQL_HOST=db
WORKFLOW_MYSQL_PORT=3306
WORKFLOW_MYSQL_USER=workflow_user
WORKFLOW_MYSQL_PASSWORD=change-this-db-password
WORKFLOW_MYSQL_DATABASE=workflow_hub

WORKFLOW_ALLOWED_HOSTS=carnomand.ir,www.carnomand.ir,127.0.0.1,localhost,backend,gateway-nginx
WORKFLOW_FRONTEND_ORIGINS=https://carnomand.ir,https://www.carnomand.ir,http://carnomand.ir,http://www.carnomand.ir
WORKFLOW_CSRF_TRUSTED_ORIGINS=https://carnomand.ir,https://www.carnomand.ir,http://carnomand.ir,http://www.carnomand.ir
WORKFLOW_CORS_ALLOW_ALL_ORIGINS=false
WORKFLOW_PUBLIC_APP_URL=https://carnomand.ir
WORKFLOW_SECURE_SSL_REDIRECT=false
WORKFLOW_SESSION_COOKIE_SECURE=true
WORKFLOW_CSRF_COOKIE_SECURE=true
WORKFLOW_SECURE_HSTS_SECONDS=31536000
WORKFLOW_SECURE_HSTS_INCLUDE_SUBDOMAINS=true
WORKFLOW_SECURE_HSTS_PRELOAD=false
WORKFLOW_USE_X_FORWARDED_HOST=true

WORKFLOW_MEDIA_URL=/uploads/
WORKFLOW_UPLOAD_DIR=uploads
WORKFLOW_STATIC_ROOT=staticfiles
WORKFLOW_AUTO_INIT_DB=true
WORKFLOW_AUTO_SEED_DB=true
WORKFLOW_DB_WAIT_TIMEOUT=90

IRANPAYAMAK_BASE_URL=https://api.iranpayamak.com
IRANPAYAMAK_LINE_NUMBER=
IRANPAYAMAK_API_KEY=
SMS_PRICE_PER_100_CHARS=185
SMS_PRICE_PER_SEGMENT=185
ORG_TRIAL_HOURS=24

VITE_API_BASE_URL=/api/v1

GATEWAY_BIND_IP=127.0.0.1
GATEWAY_PORT=18090
