.git
.gitignore
.dockerignore
Dockerfile

.venv
venv
env
__pycache__
**/__pycache__
*.pyc
*.pyo
*.pyd
.pytest_cache
.mypy_cache
.ruff_cache

.env
.env.*
uploads
staticfiles
*.log
*.tmp
*.bak
*.backup
